#captions {
    max-height: 100vh;
}

#captions img {
    width: 100%; 
    height: auto;
} 

ul > li:hover { 
    background-color: #ffc107;
 
}

.nav-item:hover .nav-link {
    color: black !important;
}

.container-plans {
    text-align: center;
}

h3 ~ p {
    text-align: center;
}

.cheese-gif {
    animation: slideDown 1.5s ease-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.so-cheesy-gif {
    transition-duration: 1s;
}

.so-cheesy-gif:hover {
    transform: rotate(360deg);
}






